.contributionCard {
  margin: 10px 0;
}

.label {
  color: #fff;
  margin: 7px 0;
  font-weight: 400;
  font-size: 15px;
  display: flex;
  align-items: center;
}

.label::after {
  content: "";
  flex-grow: 1;
  border-bottom: 1px solid #30363d;
  margin-left: 10px;
}

.questions {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-left: 1px solid #30363d;
  padding: 10px 20px;
  margin: 0px 10px;
}

.question {
  display: flex;
  justify-content: space-between;
}

.text p {
  color: #7d8590;
  font-size: 12px;
}

.progress {
  border-radius: 50px;
  height: 8px;
  background: #39d353;
}

.link {
  font-size: 13px;
  font-weight: 400;
  color: #2f81f7;
}

.link:hover {
  text-decoration: underline;
}
