.contributionCard {
  margin: 10px 0;
}

.label {
  color: #fff;
  margin: 7px 0;
  font-weight: 400;
  font-size: 15px;
  display: flex;
  align-items: center;
}

.label::after {
  content: "";
  flex-grow: 1;
  border-bottom: 1px solid #30363d;
  margin-left: 10px;
}

.questions {
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-left: 1px solid #30363d;
  padding: 10px 20px;
  margin: 0px 10px;
}

.question {
  display: flex;
  justify-content: space-between;
}

.text {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.link {
  background-color: #161b22;
  height: 13px;
  width: 125px;
  border-radius: 3px;
  animation: loading 1s infinite ease-in-out;
}

.guess {
  background-color: #161b22;
  height: 11px;
  width: 100px;
  border-radius: 3px;
  animation: loading 1s infinite ease-in-out;
}

@keyframes loading {
  0% {
    opacity: 0.9;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0.9;
  }
}
