.cardSkeleton {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card {
  position: relative;
  background-color: #161b22;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  padding: 20px;
  width: 350px;
  height: 90vh;
  max-height: 550px;
  border-radius: 10px;
  cursor: grab;
  animation: loading 1s infinite ease-in-out;
}

@keyframes loading {
  0% {
    opacity: 0.9;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0.9;
  }
}

