.dashboard {
  margin: auto;
  padding: 25px;
  max-width: 1200px;
}

.dashboardContainer {
  margin: auto;
  max-width: 800px;
}

.progress {
  display: flex;
  flex-direction: column;
  gap: 3px;
}
