.navbarAvatar {
  display: flex;
  flex-direction: column;
}

.menu {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  transition: 0.1s;
}

.navbarAvatar .menu:hover img,
.navbarAvatar .menu:hover svg {
  filter: brightness(75%);
}

.avatar {
  border-radius: 50%;
  width: 25px;
  height: 25px;
  border: 1px solid #30363d;
}
