.dropdown {
  right: 0px;
  top: 50px;
  width: 150px;
  background: #161b22;
  border: 1px solid #30363d;
  border-radius: 6px;
  position: absolute;
  color: #fff;
  font-size: 13px;
  font-weight: 400;
}

.body {
  margin: 5px 0;
}

.footer {
  border-top: 1px solid #30363d;
  padding-top: 5px;
  margin: 5px 0;
}

.link {
  font-weight: 400;
}
.link:visited {
  color: #fff;
}

.option {
  padding: 5px 15px;
  cursor: pointer;
}

.option:hover {
  background: #1f6feb;
}
