.form {
  width: 100%;
}

.questionsEditor {
  margin: 10px 0 40px;
}

.input {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 5px;
}

.solo {
  width: 100%;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.title {
  color: #fff;
  font-weight: 600;
}
