.select {
  background: #21262d;
  color: #fff;
  border: 1px solid rgba(240, 246, 252, 0.1);
  padding: 5px 12px;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  transition: 0.1s;
  width: 100%;
}

.select:hover {
  background: #30363d;
  border: 1px solid #8b949e;
}
