.questionFormSkeleton {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  gap: 30px;
}

.header {
  background-color: #161b22;
  height: 35px;
  border-radius: 3px;
  animation: loading 1s infinite ease-in-out;
  margin-bottom: 15px;
}

.questionsEditor {
  display: flex;
  flex-direction: row !important;
  gap: 20px;
  flex-direction: column;
}

.question {
  flex: 1;
  background-color: #161b22;
  height: 35px;
  border-radius: 3px;
  animation: loading 1s infinite ease-in-out;
}

@keyframes loading {
  0% {
    opacity: 0.9;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0.9;
  }
}
