.login {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.title {
  margin-top: 75px;
  font-size: 20px;
  font-weight: 300;
  color: #e6edf3;
}

.form {
  padding: 20px;
  background-color: #161b22;
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border: 1px solid #21262d;
  border-radius: 6px;
  margin: auto;
}

.group {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.prompt {
  color: #c9d1d9;
  border: 1px solid #30363d;
  border-radius: 6px;
  width: 300px;
  margin: auto;
  font-size: 13px;
  text-align: center;
  padding: 15px;
}

.link {
  text-decoration: none;
  font-weight: 300;
  color: #2f81f7;
}

.link:hover {
  text-decoration: underline;
}
