.header {
  padding-bottom: 20px;
  border-bottom: 1px solid #21262d;
}

.input {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 5px;
}

.solo {
  width: 100%;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
