.label {
  color: #fff;
  margin: 7px 0;
  font-weight: 400;
  font-size: 16px;
}

.info {
  align-items: center;
  justify-content: space-between;
  display: flex;
  margin: 5px 30px 35px;
}

.link {
  color: #7d8590;
  font-size: 12px;
  font-weight: 400;
}

.link:hover {
  color: #2f81f7;
}

.square {
  width: 12px;
  height: 12px;
  border-radius: 2px;
  background-color: #161b22;
}

.example {
  display: flex;
  align-items: center;
  gap: 3px;
}

.example span {
  color: #7d8590;
  font-size: 12px;
}
