.navbar {
  height: 60px;
  color: #fff;
  background-color: #161b22;
  padding: 0 20px;
  z-index: 99;
}

.navbarContainer {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  max-width: 1600px;
  margin: auto;
}

.logo {
  color: #fff;
}

.controls {
  display: flex;
  gap: 7px;
}
