.folder {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 25px 10px;
  border-bottom: 1px solid #21262d;
  animation: loading 1s infinite ease-in-out;
}

.title {
  background-color: #161b22;
  height: 18px;
  width: 200px;
  border-radius: 3px;
}

.subtitle {
  background-color: #161b22;
  height: 12px;
  width: 150px;
  border-radius: 3px;
}

@keyframes loading {
  0% {
    opacity: 0.9;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0.9;
  }
}
