.notFound {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.code {
  text-align: center;
  color: #e6edf3;
  font-size: 80px;
}

.error {
  margin-top: -15px;
  text-align: center;
  font-weight: 500;
  color: #7d8590;
  font-size: 20px;
}

.button {
  margin: auto;
  max-width: 150px;
  margin-top: 15px;
}
