.study {
  height: 100vh;
  width: 100vw;
  position: relative;
  overflow: hidden;
}

.studyContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.cardsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 350px;
  height: 400px;
}

.controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
