.input {
  background-color: #0d1117;
  color: #fff;
  padding: 6px 12px;
  font-size: 14px;
  border: 1px solid #30363d;
  border-radius: 6px;
  width: 100%;
}

.input:focus {
  outline: 1px solid #2f81f7;
  border: 1px solid #2f81f7;
}

.secondaryInput {
  color: #fff;
  background-color: #010409;
}

.secondaryInput:focus {
  background-color: #0d1117;
}

.input:read-only {
  cursor: not-allowed;
}

.input:read-only:focus {
  outline: 0px;
  border: 1px solid #30363d;
}

.secondaryInput:read-only:focus {
  outline: 0px;
  background-color: #010409;
}

.input:-webkit-autofill,
.input:-webkit-autofill:hover,
.input:-webkit-autofill:focus,
.input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: #fff !important;
}
