.home {
  margin: auto;
  padding: 25px;
  max-width: 1200px;
}

.homeLayout {
  display: flex;
  gap: 25px;
}

.homeLayout > div {
  flex-grow: 1;
}

.controls {
  display: flex;
  gap: 7px;
  padding: 20px 0;
  border-bottom: 1px solid #21262d;
}

.controls input {
  margin-right: 10px;
}

.controls button {
  width: 75px;
  min-width: 75px;
}

.controls select {
  width: 95px;
  min-width: 95px;
}

.message {
  padding: 30px 0;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  color: #e6edf3;
}

@media only screen and (max-width: 768px) {
  .homeLayout {
    flex-direction: column;
  }

  .controls {
    border-top: 1px solid #21262d;
    flex-direction: column;
  }

  .link {
    width: 100%;
    order: -1;
  }

  .link button {
    width: 100%;
    order: -1;
    margin-bottom: 15px;
  }
}
