.container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  border-top: 1px solid #21262d;
  color: #2f81f7;
  font-size: 12px;
  padding: 30px 0;
  margin: auto;
  max-width: 1200px;
}

.logo {
  color: #7d8590;
}