.backdrop {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  background-color: rgba(1,4,9,0.8);
}

.modal {
  background-color: #0D1117;
  border: 1px solid #30363d;
  border-radius: 6px;
  color: white;
  margin: auto;
  max-width: 400px;
  font-size: 13px;
  font-weight: 300;
  margin-top: 100px;
}