.avatar {
  border-radius: 50%;
  width: 250px;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #30363d;
}

.profile {
  display: flex;
  flex-direction: column;
}

.bio {
  margin: 15px 0 25px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.name {
  background-color: #161b22;
  height: 22px;
  border-radius: 3px;
  animation: loading 1s infinite ease-in-out;
}

.username {
  background-color: #161b22;
  height: 15px;
  border-radius: 3px;
  animation: loading 1s infinite ease-in-out;
}

.stats {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.stat {
  width: 50%;
  background-color: #161b22;
  height: 13px;
  border-radius: 3px;
  animation: loading 1s infinite ease-in-out;
}

@keyframes loading {
  0% {
    opacity: 0.9;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0.9;
  }
}

@media only screen and (max-width: 768px) {
  .profile {
    display: flex;
    flex-direction: row;
    gap: 15px;
  }

  .avatar {
    height: fit-content;
    width: fit-content;
  }

  .bio {
    flex: 1;
  }

  .name {
    height: 20px;
    width: 50%;
  }

  .username {
    height: 14px;
    width: 50%;
  }

  .profile {
    flex-direction: row;
  }
}
