.chart {
  border: 1px solid #30363d;
  padding: 25px 30px;
  border-radius: 6px;
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
}

.square {
  width: 12px;
  height: 12px;
  border-radius: 2px;
  background-color: #161b22;
}

.squareLoading {
  width: 12px;
  height: 12px;
  border-radius: 2px;
  background-color: #161b22;
  animation: loading 1s infinite ease-in-out;
}

@keyframes loading {
  0% {
    opacity: 0.9;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0.9;
  }
}
