.question {
  padding: 20px 0 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
  border-bottom: 1px solid #21262d;
}

.question > div {
  margin-bottom: 15px;
}

.input {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 5px;
}

@media only screen and (max-width: 480px) {
  .question {
    flex-direction: column;
    gap: 0;
  }
}
