.button {
  background: #238636;
  color: #fff;
  border: 1px solid rgba(240, 246, 252, 0.1);
  padding: 5px 12px;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  transition: 0.1s;
  width: 100%;
}

.button:hover {
  background: #2ea043;
}

.button:disabled {
  color: rgba(255, 255, 255, 0.5);
  background-color: rgba(35, 134, 54, 0.6);
  border-color: rgba(240, 246, 252, 0.1);
  cursor: not-allowed;
}

.secondaryButton {
  background: #21262d;
}

.secondaryButton:hover {
  background: #30363d;
  border: 1px solid #8b949e;
}

.secondaryButton:disabled {
  color: #484f58;
  background-color: #21262d;
  border-color: rgba(240, 246, 252, 0.1);
  cursor: not-allowed;
}

.dangerButton {
  background: hsl(215, 15%, 15%);
  color: #f85149;
}

.dangerButton:hover {
  background: #da3633;
  border: 1px solid #f85149;
  color: #fff;
}

.dangerButton:disabled {
  background-color: #0d1117;
  color: rgba(248, 81, 73, 0.5);
  border: 1px solid rgba(240, 246, 252, 0.1);
  cursor: not-allowed;
}

.infoButton {
  padding: 8px;
  background: transparent;
  color: #2f81f7;
  border: 1px solid #30363d;
}

.infoButton:hover {
  background: #161b22;
  border: 1px solid #30363d;
  color: #2f81f7;
}
