.disclaimer {
  padding: 15px 0;
  width: 100%;
  border-top: 1px solid #21262d;
  border-bottom: 1px solid #21262d;
  display: flex;
  gap: 5px;
  align-items: center;
}

.text {
  font-size: 13px;
  color: #7d8590;
}

.dangerText {
  font-size: 13px;
  color: #f85149;
}
