.folderCard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 10px;
  border-bottom: 1px solid #21262d;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.title {
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  overflow: hidden;
  font-size: 18px;
  font-weight: 600;
  color: #2f81f7;
}

.title:hover {
  text-decoration: underline;
}

.time {
  font-weight: 400;
  font-size: 12px;
  color: #7d8590;
}

.controls {
  margin-left: 10px;
  display: flex;
  gap: 5px;
}

.modal {
  padding: 0;
}

.modalHead {
  font-weight: 600;
  text-align: center;
  background-color: #161b22;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  padding: 15px;
}

.modalBody {
  display: flex;
  flex-direction: column;
  padding: 15px;
  gap: 10px
}
