.profile {
  max-width: 250px;
}

.avatar {
  border-radius: 50%;
  width: 250px;
  height: 250px;
  border: 1px solid #30363d;
}

.info {
  width: 100%;
}

.name {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #e6edf3;
  font-size: 22px;
  font-weight: 600;
}

.username {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #7d8590;
  font-size: 15px;
  font-weight: 300;
}

.button {
  margin: 15px 0 30px;
}

.stat {
  display: flex;
  gap: 10px;
  align-items: center;
  color: #e6edf3;
  font-size: 13px;
  margin: 3px 0;
}

@media only screen and (max-width: 768px) {
  .avatar {
    width: 80px;
    height: 80px;
  }

  .name {
    font-size: 20px;
  }

  .username {
    font-size: 14px;
  }

  .profile {
    display: flex;
    align-items: start;
    flex-direction: column;
  }

  .profileContainer {
    display: flex;
    gap: 15px;
    width: 100%;
  }

  .stats {
    margin: 0px;
  }
}
