.tooltip {
  margin: -10px 0;
  position: absolute;
  top: 100%;
  left: 0;
  padding: 4px 8px;
  border-radius: 6px;
  font-size: 12px;
  font-weight: 400;
  z-index: 10;
  color: #fff;
}

.dangerTooltip {
  background-color: #25171c;
  border: 1px solid rgba(248, 81, 73, 0.4);
}

.dangerTooltip::before {
  content: "";
  position: absolute;
  top: -7px;
  left: 21px;
  transform: translateX(-50%);
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid rgba(248, 81, 73, 0.4);
}

.warningTooltip {
  background-color: #272116;
  border: 1px solid rgba(187,128,9,0.4);
}

.warningTooltip::before {
  content: "";
  position: absolute;
  top: -7px;
  left: 21px;
  transform: translateX(-50%);
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid rgba(187,128,9,0.4);
}

.successTooltip {
  background-color: #11251E;
  border: 1px solid rgba(46,160,67,0.4);;
}

.successTooltip::before {
  content: "";
  position: absolute;
  top: -7px;
  left: 21px;
  transform: translateX(-50%);
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid rgba(46,160,67,0.4);;
}