.header {
  padding-bottom: 15px;
  width: 100%;
  border-bottom: 1px solid #21262d;
}

.heading {
  font-size: 20px;
  font-weight: 400;
  color: #e6edf3;
}

.subheading {
  font-size: 13px;
  color: #7d8590;
}
