.edit {
  width: 250px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.editControls {
  display: flex;
  gap: 5px;
  width: fit-content;
}

.error {
  width: 100%;
  font-size: 13px;
  color: #f85149;
}
