.tinderCard {
  position: absolute;
}

.card {
  position: relative;
  background-color: #161b22;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  width: 350px;
  height: 90vh;
  max-height: 550px;
  border-radius: 10px;
  transform: perspective(1000px) rotateX(var(--rotate-y, 0));
  transform-style: preserve-3d;
  transition: 400ms;
  cursor: grab;
}

.cardText {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flip {
  --rotate-y: 180deg;
}

.cardText {
  text-align: center;
  padding: 0 10px;
  height: 100%;
  overflow-y: scroll;
  scrollbar-width: thin;
  vertical-align: middle;
}

.cardText::-webkit-scrollbar {
  width: 5px;
}

.cardText::-webkit-scrollbar-thumb {
  background-color: #444;
  border-radius: 10px;
}

.front,
.back {
  position: absolute;
  padding: 20px;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.back {
  transform: rotateX(180deg);
}
