.alert {
  font-size: 13px;
  color: #e6edf3;
  padding: 15px;
  border-radius: 6px;
  text-align: center;
  width: 300px;
}

.closeButton {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.dangerAlert {
  background-color: #25171c;
  border: 1px solid rgba(248, 81, 73, 0.4);
}
